html, body {
    height: 100%;
}
h1 {
    text-align: center;
}
#cover {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/d-Wgo33/beautiful-idyllic-green-nature-countryside-scenery-meadow-lush-evergreen-forest-alps-grass-mountain-blue-sky-summer-day-landscape-austria-aerial-motion_haspmec1x_thumbnail-full14.png");
    height: 37.5rem;
    color: black;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Lobster', cursive;   
    font-size: 3rem;
}
#cover-caption {
    width: 100%;
    color: white;
    
}

.card-title {
    font-size: 1.5rem;
}
.card-text {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}
.card-deck {
    background-color: #f2f2f2;
    padding-top: 1em;
    padding-bottom: 1rem;
}
#footer-main {
    background-color: #222;
    padding: 2.5rem 0;
    color: white;
    font-size: 1.2rem;
}
nav {
    position: fixed;
}