li {
    display: inline;
   
}
.carousel-caption {
    font-family: 'Crete Round', serif;
    font-family: 'Old Standard TT', serif;
    font-family: 'Cinzel', serif;
    font-family: 'Vollkorn', serif;
}
.places a {
    color: white;
    padding-right: 1rem;
    font-size: 1.5rem;
}
a:hover {
    color: white;
    text-decoration: underline;
}
#london {
    height: 100%;
}
.carousel-caption h2 {
    font-size: 3rem;
}
.form-group {
    padding-left: 3rem;
    font-size: 1.2rem;
}
.carousel {
 padding-bottom: 1rem;
}
.subscribe_button {
    /* padding-left: 3rem; */
    font-size: 2rem;
    margin-bottom: 2rem;
}
.carousel-item img {
    height: 100vh;
}
.carousel-item, .active img {
    height: 100vh;
    width: 100%;
}
div.subscribe_button {
    margin-bottom: 2rem;
}

