/* To fit the body to the browser screen */
html, body {
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
   
}
/* To align the heading in center */
h1 {
    text-align: center;
}
/* cover image */
#cover {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/d-Wgo33/beautiful-idy…-summer-day-landscape-austria-aerial-motion_haspmec1x_thumbnail-full14.png");
    height: 37.5rem;
    color: black;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Lobster', cursive;   
    font-size: 3rem;
}
#cover-caption {
    width: 100%;
    color: white;
    
}
/* card styling */
.card-title {
    font-size: 1.5rem;
}
.card-text {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}
/* footer stylilng */
#footer-main {
    background-color: #222;
    padding: 2.5rem 0;
    color: white;
    font-size: 1.2rem;
}



